
<div>
    <table class="mat-table mat-elevation-z8">
        <thead>
            <tr class="mat-header-row">
                <th class="mat-header-cell"> Id </th>
                <th class="mat-header-cell"> Technology Name </th>
                <th class="mat-header-cell"> Commission </th>
                <th class="mat-header-cell"> Description </th>
            </tr>
        </thead>
        <tbody>
            <tr class="mat-row" *ngFor="let element of tableData">
                <td class="mat-cell"> {{element.id}} </td>
                <td class="mat-cell"> {{element.technologyName}} </td>
                <td class="mat-cell"> {{element.commission}} </td>
                <td class="mat-cell"> {{element.description}} </td>

                <td class="mat-cell">
                        <button mat-raised-button (click)="openDialog(element.id)" color="primary">Create Course</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>